* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    background: #000000;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(img/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: calc(100% + 165px) calc(50% + 10px);
    margin: 0 auto;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.cv-btn {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cv-btn:hover {
    background-color: #ff299e;
    box-shadow: 0px 8px 15px rgba(243, 156, 18, 0.3);
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}


.header-text .text-1 {
    font-size: 39px;
    font-weight: 500;
    margin-top: 20px;

}

.header-text .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    margin-top: 20px;
}

.header-text .text-3 {
    font-size: 40px;
    margin: 5px 0;
    margin-top: 20px;

}

.header-text span {
    color: #ff004f;
}

/* ------------------ About Section ------------------ */
#about {
    padding: 40px 0;
    padding-bottom: -100px;
    color: #ababab;

}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.about-description {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: #f0f0f0;
    text-align: justify;
    margin: 20px 0;
    padding: 20px;
    background: linear-gradient(135deg, #393939, #171717b2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background 0.3s ease;
}

.about-description:hover {
    transform: scale(1.02);
    background: linear-gradient(135deg, #4a4a4a, #3a3a3a);
}

.about-description .highlight {
    color: #f78176;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease;
}

.about-description .highlight:hover {
    color: #ff867c;
}


/* ------------------ Skills and Education Section ------------------ */
.skills-list,
.education-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-item,
.education-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    color: #ffffff;
    background: linear-gradient(135deg, #393939, #171717b2);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.skills-item:hover,
.education-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #aeaeae;
}

.skills-item span,
.education-item span {
    margin-bottom: -25px;
}

/* ------------------ Experience Section ------------------ */
.experience-list {
    list-style: none;
    padding: 0;
}

.experience-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 15px;
    color: #000000;
    background: linear-gradient(135deg, #393939, #171717b2);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.experience-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #aeaeae;
}

.education-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.education-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.education-logo {
    width: 60px;
    height: auto;
}

.company-logo {
    margin-right: 20px;
}

.company-logo-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.experience-details {
    flex-grow: 1;
}

.date {
    font-weight: 600;
    color: #5c5c5c;
    font-size: 14px;
}

.company-name {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 5px;
}

.job-description {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
}

.edu-description {
    margin-top: -5px;
    font-size: 20px;
    line-height: 1.6;
    color: #ffffff;
}

.experience-item {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.highlight {
    font-weight: bold;
    color: #e3497a;
}

/* ------------------ typography ------------------ */
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

/* ------------------ tabs Section ------------------ */
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* --------------services---------------- */
#services {
    padding-top: 0;
    margin-top: -40px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: linear-gradient(135deg, #393939, #171717b2);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: #f0f0f0;
    text-align: justify;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;

}

.btn {
    display: block;
    width: fit-content;
    margin: 50px auto;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
    border: 1px solid #1d030bb8;
}

.btn-link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background: #474747;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-block;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 5px 15px rgba(255, 0, 79, 0.3);
}

.btn-link:hover {
    background: #2d2d2d;
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

/* <!-- ---------------contact me----------------- --> */

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.email-link {
    color: white;
    text-decoration: none;
}

.email-link:hover {
    color: #ff2369;
}


.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    background: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.btn.btn2:hover {
    background: #ff0051b8;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: #262626;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 50px;
    border-top: 1px solid #444;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
}

.copyright i {
    color: #ff004f;
    margin: 0 5px;
}

.copyright p {
    display: inline-block;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}

.copyright a {
    color: #ff004f;
    text-decoration: none;
    font-weight: 500;
}

.copyright a:hover {
    text-decoration: underline;
}


/* ---for small screen */

nav .fas {
    display: none;
}

@media only screen and (max-width: 600px) {
    #header {
        background-position: calc(100% + 100px) center;

        background-image: url(img/background.png);
        height: 80%;
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #ff004f;
        color: #fff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }
}